        .bg-del-nav {
            color: white;
            background-color: rgb(54, 35, 160);
        }

        p {
            margin-bottom: 0px;
        }

        .bg {
            color: white;
            background-color: rgb(19, 3, 110);
        }

        p {
            color: rgb(49, 29, 167);

            margin-bottom: 1.5rem;
        }

        .input {
            border-style: none;
        }

        .border-2 {
            border-style: solid;
            border-color: black;
            border-width: 2px;
        }

        i{
            cursor: pointer;
        }